

<div class="center jumbotron">
  <h1>Welcome to Posts App</h1>

  <h2>
    This is Amazing App
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


            
